<?xml version="1.0" encoding="utf-8"?>
<!--
  Configuración optimizada para la aplicación ASP.NET
  Para más información sobre cómo configurar ASP.NET, visita https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<system.web>
		<!-- Configuración de compilación y framework -->
		<compilation debug="true" targetFramework="4.7.2" />
		<!-- Tamaño máximo de solicitud en KB (1 GB en este caso) -->
		<httpRuntime maxRequestLength="1048576" executionTimeout="300" />

		<!-- Configuración del estado de la sesión -->
		<sessionState mode="InProc" timeout="20" />

		<!-- Configuración de globalización -->
		<globalization culture="es-MX" uiCulture="es-MX" />
	</system.web>

	<system.webServer>
		<!-- Configuración de seguridad para permitir solicitudes más grandes -->
		<security>
			<requestFiltering>
				<!-- Aumentar el límite de longitud de contenido permitido (1 GB) -->
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
	</system.webServer>

	<system.net>
		<!-- Configuración del correo SMTP -->
		<mailSettings>
			<smtp from="tuemail@gmail.com">
				<network
				  host="smtp.gmail.com"
				  port="587"
				  userName="wasdsoftwaredev@gmail.com"
				  password="E]dKeRCoc]bjr_oMF;X+kE)M2#**_"
				  enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>

	<system.codedom>
		<!-- Configuración para el compilador de C# -->
		<compilers>
			<compiler
			  language="c#;cs;csharp"
			  extension=".cs"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4"
			  compilerOptions="/langversion:default /nowarn:1659;1699;1701" />

			<!-- Configuración para el compilador de VB -->
			<compiler
			  language="vb;vbs;visualbasic;vbscript"
			  extension=".vb"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4"
			  compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>
